<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Autor</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of listaLivros">
        <td>{{ livro.id }}</td>
        <td>{{ livro.nome }}</td>
        <td>{{ livro.preco | currency:'BRL'}}</td>
        <td>{{ livro.autor }}</td>
        <td><button type="button" class="btn btn-outline-success" (click)="editar()">Editar</button></td>
        <td><button type="button" class="btn btn-outline-danger" (click)="excluir()">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>