.modal-incluir{
    label{
        margin-bottom: 6px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .texto-erro{
        color: #df4654;
        font-size: 12px;
        letter-spacing: 1px;
    }


}